body{
    background-image: url('./clapperboard-homepage-background.jpg');
    height: 100vh;
}

.display-3 {
    color: #b3995d;
}


.center-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.title-container {
    margin-top: 60px;
}

a {
    color: #b3995d !important;
}

.jumbotron{
    background-color:#b3995d !important;
    border-color: rgb(104, 36, 36) !important;
    color: maroon !important;
    opacity: 0.85;
}